@import '@/assets/framework/breakpoints';

.list {
	display: grid;
	row-gap: 16px;
	margin-bottom: 24px;

	@include mobile {
		grid-template-columns: repeat(2, 1fr);
		gap: 24px;
	}

	@include media(1144px) {
		grid-template-columns: repeat(3, 1fr);
		gap: 24px 32px;
	}
}
