@import '@/assets/framework/typography';
@import '@/assets/framework/breakpoints';
@import '@/assets/base/variables';

.working {
}

.workingContainer {
	padding-left: 16px;
	padding-right: 16px;
}

.workingTitle {
	margin-bottom: 44px;

	@include desktops {
		margin-bottom: 56px;
	}
}

.workingGroup {
	display: grid;
	row-gap: 94px;

	@include tablets {
		grid-template-columns: repeat(2, 252px);
		justify-content: center;
		column-gap: 56px;
		row-gap: 94px;
		margin-left: auto;
		margin-right: auto;
	}

	@include media(1176px) {
		grid-template-columns: repeat(4, 252px);
		row-gap: 0;
		column-gap: 56px;
		max-width: 100%;
		justify-content: initial;
	}
}
