@import '@/assets/framework/typography';
@import '@/assets/framework/breakpoints';
@import '@/assets/base/variables';

.catalogTitle {
	margin-bottom: 44px;

	@include desktops {
		margin-bottom: 56px;
	}
}

@media all and (max-width: 767px) {
	.catalogList {
		grid-template-columns: 1fr;
		row-gap: 15px;
	}
}