@import '@/assets/framework/typography';
@import '@/assets/framework/breakpoints';
@import '@/assets/base/variables';

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 32px;
	row-gap: 23px;
}

.catalogItemContainer {
	position: relative
}

.catalogItemImage {
	max-height: 120px;
}

.catalogItem {

	max-height: 140px;

	span {
		width: 60px;
		height: 60px;
		border-radius: 200px;
		position: absolute;
		top: -20px;
		left: -20px;
		background-color: red;
		z-index: 1;
	}
}

.catalogItem1 {
	.catalogItemTitle {
		color: #E0C813;
	}
	span {
		background-color: #FFE200;
	}
}

.catalogItem4 {
	.catalogItemTitle {
		color: #FFAD9A;
	}
	span {
		background-color: #FFAD9A;
	}
}

.catalogItem3 {
	.catalogItemTitle {
		color: #FF198F;
	}
	span {
		background-color: #FFBADE;
	}
}

.catalogItem6 {
	.catalogItemTitle {
		color: #A39CE8;
	}
	span {
		background-color: #D1CEF4;
	}
}

.catalogItem2 {
	.catalogItemTitle {
		color: #FB8F00;
	}
	span {
		background-color: #FEDEB3;
	}
}

.catalogItem5 {
	.catalogItemTitle {
		color: #728F93;
	}
	span {
		background-color: #D2DCDD;
	}
}

.catalogItemInfo {
	position: relative;
	z-index: 2;
}

.catalogItem {
	background-color: #fff;
	border-radius: 8px;
	overflow: hidden;
	display: block;
	text-decoration: none;

	&:hover {
		.catalogItemImage {
			transform: scale(1.2);
		}
	}

	&Container {
		padding: 16px;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&Figure {
		text-align: center;
		margin-bottom: 2px;
	}

	&Image {
		max-width: 100%;
		height: auto;
		transition: 0.3s;
	}

	&Title {
		@include textSubtitleSecond;

		margin-bottom: 4px;
	}

	&Text {
		@include textBodyFourth;

		color: $grayLighter;
	}
}

.catalogFirstItem {
	position: relative;

	&::after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 88px;
		height: 88px;
		border-radius: 100%;
		background-color: #fee9cc;
		transform: translate(-50%, -50%);
	}

	&Title {
		color: #fb8f00;
	}

	&Figure {
		@include desktops {
			margin-left: 30px;
		}
	}
}

.catalogSecondItem {
	position: relative;

	&::after {
		position: absolute;
		content: '';
		top: 50%;
		right: 18px;
		width: 16px;
		height: 16px;
		border-radius: 100%;
		background-color: rgba(255, 173, 154, 0.2);
	}

	&Container {
		padding-bottom: 0;
		display: flex;
		flex-direction: column;
	}

	&Title {
		color: #ffad9a;
	}

	&Figure {
		margin-top: auto;
		margin-bottom: 0;
		transform: translateY(5px);

		@include desktops {
			margin-right: 60px;
		}
	}
}

.catalogThirdItem {
	position: relative;

	&::after {
		position: absolute;
		content: '';
		top: 30px;
		right: 16px;
		width: 38px;
		height: 38px;
		border-radius: 100%;
		background-color: rgba(224, 138, 143, 0.3);
	}

	&::before {
		position: absolute;
		content: '';
		bottom: 18px;
		right: 60px;
		width: 12px;
		height: 12px;
		border-radius: 100%;
		background-color: rgba(224, 138, 143, 0.2);
	}

	&Container {
		display: flex;
		align-items: center;
		padding-top: 42px;
		padding-bottom: 42px;
	}

	&Figure {
		margin-right: 28px;

		@include desktops {
			margin-right: 60px;
		}
	}

	&Title {
		color: #ba595e;
	}
}

.catalogFourthItem {
	position: relative;

	&::after {
		position: absolute;
		content: '';
		bottom: 0;
		left: 0;
		width: 88px;
		height: 88px;
		border-radius: 100%;
		background-color: #d4dcfc;
		transform: translate(-50%, 50%);
	}

	&Title {
		color: #5f6370;
	}

	&Figure {
		margin-bottom: 0;
		margin-top: 10px;

		@include desktops {
			margin-left: 30px;
		}
	}
}

.catalogFifthItem {
	position: relative;

	&::after {
		position: absolute;
		content: '';
		bottom: 30px;
		right: 40px;
		width: 16px;
		height: 16px;
		border-radius: 100%;
		background-color: rgba(60, 54, 122, 0.1);
	}

	&::before {
		position: absolute;
		content: '';
		top: 50%;
		left: 27px;
		width: 12px;
		height: 12px;
		border-radius: 100%;
		background-color: rgba(60, 54, 122, 0.16);
	}

	&Title {
		color: #3c367a;
	}

	&Figure {
		@include desktops {
			margin-left: 30px;
		}
	}
}

@media all and (min-width: 768px) {
	.catalogSecondItem {
		&Container {
			flex-direction: row;
			align-items: center;
		}

		&Figure {
			order: -1;
		}
	}

	.catalogFirstItem,
	.catalogFifthItem,
	.catalogFourthItem {
		&Container {
			display: flex;
			align-items: center;
		}

		&Figure {
			order: 1;
		}
	}
}

@media all and (min-width: 992px) {
	.catalogItemTitle {
		font-size: 24px;
		line-height: 34px;
		margin-bottom: 8px;
	}

	.catalogItemText {
		font-size: 16px;
		line-height: 20px;
	}
}
