$white: #fff;
$light: #f5f1f1;
$orange: #fb8f00;
$yellow: #ffe200;
$gray: #373737;
$green: #68888c;
$lightHover: #ede9e9;

$mebel: #ffad9a;
$personal: #7ddfd3;
$dezinfeksiya: #a39ce8;
$grimernaya: #d4dcfc;
$camera: #fee9cc;

$grayDark: #121212;
$grayLighter: #404a4c;
$grayLight: rgba(225, 225, 225, 0.7);

$shadow: 0px 1px 15px rgba(177, 177, 177, 0.25);
$hoverShadow: 0px 1px 25px rgba(162, 159, 159, 0.25);
$shadow3: 0px -2px 4px rgba(198, 198, 198, 0.25);

$gradient: radial-gradient(50% 50% at 50% 50%, #829a9d 0%, #68888c 90.62%);

/* Colors */

$lightBackgroundColor: #f5f1f1;

$grayDarkColor: #121212;

/* Numbers */

$containerWidth: 1280px;
