.wrapper {
	display: flex;
	align-items: center;
}

.title {
	color: #121212;
	line-height: 20px;
	margin-right: 16px;
}

.titleMargin {
	margin-bottom: 14px;
}

.input {
	margin-right: 8px;
	background: rgba(225, 225, 225, 0.7);
	border-radius: 8px;
	outline: none;
	text-align: center;
	border: 0.5px solid transparent;
	width: 128px;
	padding-top: 6px;
	padding-bottom: 6px;
	line-height: 20px;
	transition: border-color 0.3s;

	&:last-child {
		margin-right: 0;
	}

	&:hover {
		border-color: #373737;
	}

	&:focus {
		background-color: #fff;
	}
}
