@import '@/assets/framework/breakpoints';

.filter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
}
@media (max-width: 1000px) {
	.filter{
		justify-content: flex-start;
	}
}

.filterTitle {
	font-size: 20px;
	line-height: 24px;
	color: #121212;
	padding-right: 12px;

	font-weight: 600;

	@include desktops {
		display: none;
	}
}

.filterIcon {
	font-size: 24px;
	margin-right: 15px;
	@include desktops {
		display: none;
	}
}

.priceBox,
.dropdown {
	display: none !important;

	@include desktops {
		display: flex !important;
	}
}
