@import '@/assets/base/variables';
@import '@/assets/framework/typography';
@import '@/assets/framework/breakpoints';

.footer {
	padding-bottom: 80px;
	background-color: #404A4C;
	padding-top: 64px;
}

.footerContainer {
	padding-left: 16px;
	padding-right: 16px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.blockFourth {
	.divider {
		margin-bottom: 16px;
	}
} 

.block {
	padding-top: 24px;
	padding-bottom: 24px;
	border-top: 0.5px solid rgba(179, 179, 179, 0.5);

	@include desktops {
		padding-top: 0;
		padding-bottom: 0;
		border-top: none;
	}

	&Line {
		border-top: none;
		padding-top: 0;

		@include tablets {
			padding-top: 24px;
			border-top: 0.5px solid rgba(179, 179, 179, 0.5);
		}

		@include desktops {
			padding-top: 0;
			padding-bottom: 0;
			border-top: none;
		}
	}
}

.item {
	&Title {
		@include textSubtitleThird;

		color: rgb(55, 55, 55);
		margin-bottom: 20px;
	}

	&List {
		list-style: none;
	}

	&ListItem {
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	&ListIconLink {
		&:not(:last-child) {
			margin-right: 16px;
		}
	}

	&ListItemFlex {
		display: flex;
	}

	&Link {
		@include textBodyThird;

		opacity: 0.5;
		color: #373737;
		text-decoration: none;
		transition: opacity 0.3s;

		&:hover {
			opacity: 1;
		}
	}
}

.blockFirst {

	@include desktops {
		border-top: none;
	}
}

.blockSecond {

	@include desktops {
		border-top: none;
	}
}


.logo {
	display: block;
	margin-bottom: 20px;
}

.rights {
	color: #68888C;
	font-size: 12px;
	line-height: 14px;
}

.itemLink {
	color: #FFFFFF;
	opacity: 1;
}

.itemLink:hover {
	opacity: 0.5;
}

.svg {
	margin-right: 12px;
}

.blockFourth {
	.itemLink {
		color: #9FA4A5;
	}
}

.blockFifth {
	.itemLink {
		display: flex;
		align-items: center;
	}
}

@media screen and (max-width: 1023px) {

	.footer {
		padding: 26px 26px 36px;
	}

	.footerContainer {
		padding: 0 !important;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.block {
		width: 20%;
		border: none;
		padding: 0;
	}

	.blockFirst {
		width: 100%;
		margin-bottom: 40px;

		.itemList {
			display: flex;
			justify-content: space-between;
			align-items: center
		};

		.logo {
			margin: 0;
		}
	}

	.blockFifth {
		width: 30%;
	}

}

@media screen and (max-width: 767px) {

	.footer {
		padding: 15px 20px;
	}

	.blockSecond, .blockThird {
		width: 48%;
	}

	.blockThird {
		text-align: end;
	}

	.blockFourth {
		width: 100%;
		margin: 40px 0;

		.itemList {
			display: flex;
			justify-content: space-between;
		}

		.divider {
			width: 30%;
		}

		.policy {	
			width: 65%;
			text-align: end;
		}

	}

	.blockFifth {
		width: 100%;
	}

}