@import '@/assets/framework/typography';
@import '@/assets/base/variables';

.wrapper {
	text-align: center;
	background-color: rgba(var(--color), 0.6);
	padding-bottom: 16px;
	padding-top: 44px;
	border-radius: 8px;
	position: relative;
	margin-top: 30px;
}

.image {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 9;
	transform: translate(-50%, -50%);
}

.title {
	@include textSubtitleSecond;

	color: $grayDark;
	margin-bottom: 8px;
}

.description {
	@include textBodyFourth;

	padding-left: 8px;
	padding-right: 8px;
}
