.wrapper {
	border-radius: 8px;
	overflow: hidden !important;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	transition: box-shadow 0.3s;

	&:hover {
		box-shadow: 0px 1px 25px rgba(162, 159, 159, 0.25);
	}
}

.figure {
	position: relative;
}

.image {
	width: 100%;
	height: auto;
}

.heart {
	position: absolute;
	top: 16px;
	right: 16px;
}

.body {
	padding-top: 8px;
	padding-bottom: 7px;
	padding-left: 16px;
	padding-right: 16px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.bodyPadding {
	padding-bottom: 14px;
}

.title {
	margin-bottom: 4px;
	line-height: 22px;
	font-weight: 600;
	color: #373737;
}

.priceBlock {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: auto;
	min-height: 37px;
}

.price {
	font-size: 20px;
	line-height: 24px;
	color: #121212;
}

.button {
	padding: 6px 30px;
	background: rgba(225, 225, 225, 0.7);
	border-radius: 8px;
	line-height: 22px;
	font-weight: 600;
	cursor: pointer;
	transition: background-color 0.3s;
}

.buttonDisabled {
	background: rgba(225, 225, 225, 0.7);
}

.buttonActive {
	background-color: #ffe200;

	&:hover {
		background-color: #ffeb4c;
	}

	&:active {
		background-color: #f2d80d;
	}
}

.info {
	color: #68888c;
	font-size: 12px;
	line-height: 20px;
}

.footer {
	border-top: 1px solid rgba(225, 225, 225, 0.7);
	padding: 4px 16px 8px 16px;
}
