.icon {
	font-size: 28px;
	padding-left: 4px;
	padding-right: 4px;
	transition: all 0.1s;
	&:hover{
		color:#ffe200 !important;
		transition: all 0.3s;
	}
	&:not(:last-child) {
		margin-right: 8px;
	}

	@include desktops {
		cursor: pointer;
		font-size: 32px;
		transition: background-color 0.3s;
		position: relative;



		&:not(:last-child) {
			margin-right: 16px;
		}
	}@include tablets {
		cursor: pointer;
		font-size: 32px;
		transition: background-color 0.3s;
		position: relative;



		&:not(:last-child) {
			margin-right: 16px;
		}
	}@include mobile {
		cursor: pointer;
		font-size: 32px;
		transition: background-color 0.3s;
		position: relative;



		&:not(:last-child) {
			margin-right: 16px;
		}
	}
}

.iconActive {


	@include desktops {
		color: initial;
	}
}

.iconHover {
	@include desktops {
		&::after {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 40px;
			transition: background-color 0.3s;
			transform: translateY(6px);
		}

		&:hover {
			&::after {
				z-index: -1;
			}
		}
	}
}

.iconCount {
	display: none;

}
.itemCount_active{

	position: absolute;
	top: -4px;
	right: -6px;
	width: 22px;
	height: 22px;
	font-size: 12px;
	line-height: 20px;
	border-radius: 100%;
	background-color: #ffe200;
	display: flex !important;
	align-items: center;
	justify-content: center;
	font-weight: 600;
}
@media (max-width: 575px) {
	.itemCount_active{
		top: 12px;
		right: 12px;
	}
}
