@import '@/assets/framework/breakpoints';

.radio_button{
	position: absolute;
	bottom: -43px;
	left: 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.radio_button_text{
	color: #68888C;
	cursor: pointer;

}
.card_margin{
	margin-bottom: 0 !important;
	padding-bottom: 24px;
}
.circle{
	cursor: pointer;
	width: 80%;
	height: 80%;
	border-radius: 50%;
	opacity: 0;
	background: #373737;
	transition: all 0.3s;
	&:hover{
		opacity: 0.5;
		transition: all 0.3s;
	}
}
.active_circle{
	transition: all 0.3s;
	opacity: 1 !important;
}
.r_button{
	margin-right: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 28px;
	height: 28px;
	border: 1px solid #373737;
	border-radius: 50%;
	background: white;
}
@media (max-width: 1000px){
	.radio_button{
		left: 0 !important;
		bottom: -43px !important;
	}
}
@media (max-width: 720px){
	.radio_button{
		font-size: 14px !important;
	}
	.r_button{
		width: 39.63px;
	}
	.buttons {
		grid-template-columns: 1fr !important;
	}
	.block{
		padding-top: 8px !important;
		padding-bottom: 8px !important;
		border-top: 0 !important;
	}
	.descriptionBlock{

	}
	.radio_button{
		bottom: 135px !important;

	}
	.card{
		margin-bottom: 0 !important;
	}
}
.card {
	padding-top: 24px;
	border-top: 0.5px solid rgba(64, 74, 76, 0.2);
	position: relative;
	&{
		margin-bottom: 55px;
	}

	@include tablets {
		display: grid;
		grid-template-columns: 310px 1fr;
		column-gap: 32px;
	}

	@include largeDesktops {
		grid-template-columns: 296px 1fr;
		column-gap: 76px;
	}
}

.header {
	margin-bottom: 12px;
	display: flex;
	flex-direction: row;
	align-items: center;
	max-height: 80px;
	@include tablets {
		margin-bottom: 0;
	}
}

.body {
	@include tablets {
		display: grid;
		grid-template-columns: 24% 50% 27%;
		height: 61px;
		align-items: center;
		align-content: center;
	}

	@include largeDesktops {
		grid-template-columns: 30% 40% 27%;

		align-items: center;
		align-content: center;
		justify-content: center;
	}
}
.montage{
	color: #68888C;
}

.figure {
	height: 65px;
	min-width: 132px;
	overflow: hidden;
	border-radius: 8px;
	margin-right: 15px;
}

.image {

	height: 100%;
	object-fit: cover;
	max-width: 132px;
	width: 132px;

	img{
		height: 100%;
		width: 132px;
		object-fit: cover;
	}
	max-height: 65px;
}

.titleBlock {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	cursor: pointer;
	flex-direction: column;
	p{
		text-align: left;
	}
}
.exit{
	position: absolute;
	top: 10px;
	right:10px;
}
@media (max-width: 720px){
	.addition{
		left: 5px !important;
	}
}
.addition{
	position: absolute;
	background: #68888C;
	border-radius: 5px;
	width: 320px;
	height: 64px;
	z-index: 2;
	top: -80px;
	left: 150px;
	text-align:center ;
	color: white;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	div{
		max-width: 270px;
	}
	img{
		position: absolute;
		bottom: -7px;
	}
}

.titleIcon {
	font-size: 24px;
	transition: transform 0.3s;
}
.title_list{
	display: flex;
	flex-direction: column;

	text-align: left;
}
.titleIconActive {
	transform: rotate(180deg);
}

.title {
	font-weight: 600;
	line-height: 24px;
	color: #373737;
	display: flex;
	justify-content: center;
	align-items: center;

}

.additionalBlock {
	margin-top: 6px;
}

.additionalItem {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&:not(:last-child) {
		margin-bottom: 6px;
	}
}

.additionalTitle {
	font-size: 14px;
	line-height: 18px;
	color: #404a4c;
}

.additionalCount {
	font-size: 12px;
	line-height: 20px;
	color: #404a4c;
}
@media(max-width: 720px){
	.block_disable_margin{
		margin-bottom: 0 !important;
	}
	.priceBlock {
		margin-bottom: 40px;


	}
	.block{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.descriptionBlock{
		flex-direction: row !important;
		justify-content: space-between !important;
	}
}
.block {
	padding-top: 12px;
	padding-bottom: 12px;
	border-top: 0.5px solid rgba(64, 74, 76, 0.2);

	@include tablets {
		padding-top: 0;
		padding-bottom: 0;
		border-top: none;
	}
}

.blockName {
	line-height: 22px;
	font-weight: 600;
	color: rgba(55, 55, 55, 0.5);
}

.countName {
	margin-bottom: 8px;
}

.priceBlock {


	@include tablets {
		display: initial;
	}
}

.priceFooter {
	display: flex;
	align-items: center;

	@include tablets {
		justify-content: flex-end;
	}
}

.descriptionBlock {
	display: flex;
	flex-direction: column;
}

.buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 8px;

	@include tablets {
		grid-template-columns: 1fr;
		column-gap: 0;
		row-gap: 8px;
	}
}

.buttonsInfo {
	@include tablets {
		display: flex;
		align-items: center;
		max-width: 250px;
	}
}

.buttonsTitle {
	display: none;

	@include tablets {
		display: initial;
		margin-left: 50px;
		font-size: 14px;
		opacity: 0.5;
		min-width: 60px;
	}
}

.price {
	display: flex;
	flex-direction: column;
	text-align: center !important;
	justify-content: center;
	align-items: center;

	@include tablets {
		text-align: left;
	}
}

.priceText {
	color: #121212;
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 4px;
	position: relative;
	cursor: pointer;
	transition: all 0.3s;
}

.priceDescription {
	color: #68888c;
	font-size: 12px;
	line-height: 20px;
}

.priceMargin {
	margin-bottom: 0;
	margin-right: 16px;
}

.icon {
	font-size: 24px;
	opacity: 0.5;
	cursor: pointer;
	&:hover{
			color: #373737 !important;
		opacity: 1;
		transition:  all 0.6s;
	}
}

.hiddenForTablets {
	@include tablets {
		display: none;
	}
}
