@import '@/assets/framework/breakpoints';

.aside {
	background: white;
	position: relative;
	border-radius: 8px;
	margin-bottom: 15px !important;
	@include desktops {
		display: initial;
		grid-area: right;
	}
}
.aside_content{
	padding: 14px;

}
.first_date{
	width: 102px;
	background: #FFFCE8;
	border: 1px solid #373737;
	height: 36px;
	border-radius: 30px;
	text-decoration: none;
	outline: none;text-align: center;
	cursor: pointer;
	transition: all 0.3s;
	&:hover{
		background: #FFE200;
		border: 1px solid #373737;
		box-sizing: border-box;
		transition: all 0.3s;
	}
	&:focus{
		background: #FFE200 !important;
	}
}

.second_date{
	background: #FFFCE8;
	/* 373773 */

	border: 1px solid #373737;
	&:focus{
		background: #FFE200 !important;
	}
	&:hover{
		background: #FFE200;
		border: 1px solid #373737;
		box-sizing: border-box;
		transition: all 0.3s;
	}
	transition: all 0.3s;
	cursor: pointer;
	outline: none;text-align: center;
	width: 102px;
	height: 36px;
	border-radius: 30px;
	text-decoration: none;
}
.arenda_time{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	span{
		color: #404A4C;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
	}
}
.calendar{

	p{
		margin-bottom: 12px;
	}
	display: flex;
	flex-direction: column;
}
.calendar_flex{
	margin-bottom: 12px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

}
@media (max-width: 1000px){
	.calendar_flex{
		width: 250px;
	}
}
@media (max-width: 720px){
	.calendar_flex{
		width: 100%;
	}
}
.calendar_active{
	transition: all 0.3s;
	transform: scale(1) !important;
}
.title {
	font-weight: 700;
	font-size: 32px;
	line-height: 38px;
	color: #121212;
	margin-bottom: 24px;
}
.modaal_calendar{
	position: absolute !important;
	right: 0;
	top: 160px;
	max-width: 320px;
	transform: scale(0);
	transition: all 0.3s;
 }
@media(max-width: 1000px){
	.modaal_calendar{
		position: absolute !important;
		left: 0;
		top: 140px;
		max-width: 320px;
		transform: scale(0);
		transition: all 0.3s;
	}
}
.priceBlock {

	/* gray/lighter */

	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
}

.priceBlockName {
	color: #121212;
	font-size: 20px;
	line-height: 32px;
	font-weight: 600;
}

.priceBlockText {
	font-size: 24px;
	line-height: 34px;
	font-weight: 600;
	color: #121212;
}

.button {
	appearance: none;
	outline: none;
	border: none;
	background-color: #ffe200;
	border-radius: 8px;
	padding-top: 13px;
	padding-bottom: 13px;
	text-align: center;
	width: 100%;
	font-size: 18px;
	line-height: 23px;
	font-weight: 600;
	transition: background-color 0.3s;
	cursor: pointer;

	&:hover {
		background-color: #ffeb4c;
	}

	&:active {
		background-color: #f2d80d;
	}
}

.buttonMargin {
	margin-bottom: 24px;
}

.description {
	padding: 16px;
	border-radius: 8px;
	background-color: white;
	font-weight: 400;
	line-height: 20px;
	color: #404a4c;
	grid-area: bottom;
}

.fixedBlock {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 12px 16px 8px 16px;
	background-color: #fff;
	z-index: 5;
}

.fixedHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;
}

.fixedName {
	@include textSubtitleThird;
}

.fixedPrice {
	@include textSubtitleFirst;
}
