@import '@/assets/framework/breakpoints';

.wrapper {
	margin-bottom: 24px;

	@include desktops {
		grid-area: top;
		margin-bottom: 0;
	}
}

.block {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	max-height: 50px;
	span{
		height: 50px;
		display: flex;
		justify-content: center;align-items: center;
	}
}

.title {
}

.icon {
	font-size: 24px;
	opacity: 0.5;
	cursor: pointer;
	transition: transform 0.3s;
	margin-left: 15px;

	&:hover {
		transform: translateY(-4px);
	}
}

.text {
	color: #404a4c;
	line-height: 20px;

	@include desktops {
		display: none;
	}
}
