@import '@/assets/framework/typography';
@import '@/assets/framework/breakpoints';
@import '@/assets/base/variables';

.purple{
	box-sizing: border-box;
	border-radius: 8px;
	transition: all 0.4s;
&:hover{
	background: #FDF1E1!important;
	transition:  all 0.4s;
	box-sizing: border-box;
}

}.white{
	box-sizing: border-box;
	border-radius: 8px;
	 transition: all 0.4s;
	&:hover{
		background: #ECF0F0!important;
		transition:  all 0.4s;


	}
}.gray{
		  box-sizing: border-box;
		  border-radius: 8px;
	transition: all 0.4s;
		  &:hover{
			  background: #FAE0E9 !important;
			  transition:  all 0.4s;

		  }

}

.wrapper {
	transition: all 0.4s;
	background-color: $white;
	border-radius: 8px;
	overflow: hidden !important;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	text-decoration: none;
	border: 1px solid rgba(55, 55, 55, 0);
	&:hover {
		border: 1px solid #373737;
	}
	@include desktops {
		transition: box-shadow 0.3s;

		&:hover .more {
			opacity: 1;
		}

		&:hover {
			box-shadow: 0px 1px 25px rgba(162, 159, 159, 0.25);

		}

	}
}

.figure {
	position: relative;
}
@media(max-width: 1100px){
	.figure{
	img{
		width: 175px;
	}
}
}
.heart {
	position: absolute;
	top: 16px;
	right: 16px;
	font-size: 32px;
	opacity: 0.4;
	color: #373737;

	@include desktops {
		top: 24px;
		right: 24px;
	}
}

.status {
	position: absolute;
	top: 36px;
	right: 0;
	display: inline-block;
	width: 100px;
	padding: 7px;
	line-height: 22px;
	font-weight: 600;
	color: #fff;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	text-align: center;
}

.statusPopular {
	background-color: #68888C;
}

.statusHit {
	background-color: #ff377f;
}

.body {
	padding: 20px 16px 16px 16px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;

	@include desktops {
		padding: 20px 24px 24px 24px;
	}
}

.title {
	@include textHeadingFourth;

	margin-bottom: 32px;
	color: #121212;

	@include desktops {
		@include textHeadingThird;

		margin-bottom: 24px;
	}
}

.desc {
	display: flex;
	align-items: center;
	margin-bottom: 50px;

	@include desktops {
		margin-bottom: 40px;
	}
}

.title_orange {
	color: $orange;
}

.title_blue {
	color: #68888C;
}

.title_pink {
	color: #ff377f;
}

.imageIcon {
	margin-right: 16px;
}

.icon {
	font-size: 44px;
	opacity: 0.5;
	margin-right: 16px;
}

.description {	
	font-size: 20px;
	line-height: 26px;
}

.bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: auto;
}

.price {
	font-weight: 600;
	font-size: 20px;
	line-height: 26px;
	color: $grayDark;
}

.more {
	@include textSubtitleThird;

	display: flex;
	align-items: center;
	color: #373737;

	@include desktops {
		opacity: 0.5;
		transition: opacity 0.3s;
	}
}

.moreIcon {
	font-size: 20px;
	margin-left: 4px;
}
